<div class="bg-blur"></div>

<app-navbar></app-navbar>

<main class="main-content">

  <div class="header-section">
    <h1 class="page-title">Seguimiento de Reportes</h1>

    <p class="page-description">
      Consulta el estado y los cambios realizados en los reportes ambientales
      registrados por los ciudadanos.
    </p>
  </div>

  <div class="cards-grid">

    <div class="custom-card" *ngFor="let seguimiento of seguimientos">

      <div class="card-info">

        <span class="badge">
          Estado {{ seguimiento.estado }}
        </span>

        <h3>Seguimiento #{{ seguimiento.id }}</h3>

        <p>
          <strong>Reporte:</strong>
          #{{ seguimiento.reporte }}
        </p>

        <p>
          <strong>Usuario:</strong>
          #{{ seguimiento.usuario }}
        </p>

        <p>
          {{ seguimiento.observacion }}
        </p>

        <p>
          <strong>Fecha:</strong>
          {{ seguimiento.fecha }}
        </p>

      </div>

    </div>

  </div>

  <div class="scroll-container" (click)="onScrollDown()">
    <span class="scroll-text">Scroll</span>
    <div class="scroll-icon">&#8595;</div>
  </div>

</main>