/* You can add global styles to this file, and also import other style files */
*, *::before, *::after { box-sizing: border-box; }
body { margin:0; font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif; background:#123c2e; }
button,input,textarea,select { font:inherit; }
